<div class="pr-6 py-8 pl-8 h-full w-full flex flex-col">
  <breadcrumbs [items]="breadcrumbs"></breadcrumbs>
  <header class="mt-3 flex justify-between text-textDarkest">
    <div class="text-2xl font-medium">Board</div>
    <div class="social-links">
      <a href="https://www.facebook.com/ngbinhan/"
        target="_blank" rel="noreferrer noopener" class="mr-2">
        <j-button className="btn-secondary">
          <div class="flex items-center">
            <i class="mr-2 text-blue-500" nz-icon nzType="facebook" nzTheme="outline"></i> Facebook
          </div>
        </j-button>
      </a>
      <a href="https://github.com/nguyenbinhanltv/jira-clone-angular" target="_blank" rel="noreferrer noopener">
        <j-button className="btn-secondary" icon="github">Github Repo
        </j-button>
      </a>
    </div>
  </header>

  <board-filter></board-filter>
  <board-dnd></board-dnd>
</div>
