<div class="login">
  <div class="form">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Email!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="email" nz-input placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
              placeholder="Password" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control style="display: flex; justify-content: center; align-items: center;">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" style="margin-bottom: 5px;">Log
            in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<div class="trello-login">
  <img src="../../assets/img/Trello-login.png" alt="">
</div>
